/* Both header icons */
.headerIconGroup {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* Circle buttons */
.headerIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #1e1e1e;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06);
  cursor: pointer;
 
}



.headerIconSvg {
  width: 15px;
  height: 15px;
  color: #111827;
}

.discountBadgeCustom {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  height: 24px;
  border-radius: 10px 0 10px 0;
  background-color: #22a6dd;
  padding: 12px;
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  animation: pulseBadge 1.8s infinite ease-in-out;
}

/* Pulse animation */
@keyframes pulseBadge {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(34, 166, 221, 0.6);
  }
  50% {
    transform: scale(1.02);
    box-shadow: 0 0 12px rgba(34, 166, 221, 0.8);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(34, 166, 221, 0.6);
  }
}

/* Shine effect */
.discountBadgeCustom::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shine 2.5s infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  60% {
    left: 150%;
  }
  100% {
    left: 120%;
  }
}

/* Product title hover */
.productTitleHover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.productTitleHover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: #000;
  transition: all 0.4s ease-out;
}

.productTitleHover:hover::after {
  left: 0;
  width: 100%;
}

